.header__active-menu-item,
.header__menu-item:hover span {
  text-decoration: underline;
  text-underline-offset: 0.3rem;
}

.button:hover,
.shopify-challenge__button:hover,
.customer button:hover {
  background: rgb(var(--color-button-text));
  color: rgba(var(--color-button), var(--alpha-button-background));
}

.button:not([disabled]):hover::after,
.shopify-challenge__button:hover::after,
.customer button:hover::after,
.shopify-payment-button__button--unbranded:hover::after {
  --color-button: var(--color-button-text);
}

body.shopify-cookie-banner-open::before {
  background: rgba(0, 0, 0, 0.5);
  content: "";
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000090;
}

.collection-hero .collection-hero__badge-promo {
  display: inline-block !important;
  vertical-align: top;
  font-size: 16px;
  font-weight: bold;
  padding-inline: 16px;
  position: static;
}