.section--countdown .media {
  border-radius: var(--media-radius);
}
.section--countdown .media > picture img {
  display: block;
  max-width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.section--countdown .media video,
.section--countdown .media > picture img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center center;
     object-position: center center;
  transition: opacity 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  height: 100%;
  width: 100%;
}